@font-face {
    font-family: "LarsseitRegular";
    src: url(../fonts/Larsseit/Larsseit.otf);
}

@font-face {
    font-family: "LarsseitLight";
    src: url(../fonts/Larsseit/Larsseit-Light.otf);
}